.header-cell {
    font-weight: normal !important;
    font-size: 14px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    min-width: 150px;
    line-height: 1.5rem !important;
    height: auto !important;
    color: #212934;
}

.header-row {
    background: #F8F9FA !important;
}
