.icon-selector-dialog {
    width: 80vw !important;
    overflow: hidden !important;
}
.icon-selector-dialog-container {
   width: 75vw;
}
.selected-icon{
    border: 3px solid #64acf5;
    cursor: pointer;
    width: 70px;
    height: 70px
 }