.icon-selector-dialog {
    width: 80vw !important;
    overflow: hidden !important;
}
.icon-selector-dialog-container {
    height: 900px !important;
}
.selected-icon{
    border: 3px solid #64acf5;
 }