.table-row {
    border-right: 1px solid rgb(232, 237, 242);
}

.thead {
    display: table-header-group;
    break-inside: avoid;
}

.nested-table:last-child > td {
    border-bottom: 1px solid rgb(232, 237, 242);
}

.table-cell {
    padding: 14px 12px;
    font-size: 14px;
    background: #FFFFFF;
    color: #000000;
    border-bottom: 1px solid rgb(232, 237, 242);
}

.extra-row {
    border-right: 1px solid rgb(232, 237, 242);
    border-bottom: none !important;
}

.print-area {
    display: none;
}


@page {
    margin-top: 1cm;
}

@media print {
    .print-area {
        display: block;
        padding: 24px;
        width: 100%;
    }

    .table-header-cell {
        background: #FFFFFF !important;
        color: #000000 !important;
        font-weight: bold !important;
        border-right: 1px solid rgb(232, 237, 242);
    }
}
