.icon-picker-field-container {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: row;
}
.icon-picker-field {
    width: calc(100% - 45px);
    box-sizing: border-box;
    overflow: hidden;
}
.icon-selector-container {
    width: 40px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgb(160,173,186);
    border-radius: 3px;
    text-align: center;
    margin-right: 5px;
}
.bg-black {
    border: 1px solid black;
    background-color: black;
}

