/*flex*/
.column {
    display: flex;
    flex-direction: column;
}

:root {
    --primary: #1565C0;
    --background-color: #F8F9FA;
    width: 100%;
}

/*Make all asterisks red:*/
label > span:nth-child(2) {
    color: red;
}

.row {
    display: flex;
}

/*main axis alignment*/
.center {
    justify-content: center;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

/*cross axis alignment*/
.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}


/*layout*/
.full-width {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/*padding*/
.p-16 {
    padding: 16px;
}

.ph-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pt-16 {
    padding-top: 16px;
}

/*icons*/
.icon-size-32 > svg {
    width: 32px;
    height: 32px;
}

.icon-size-64 > svg {
    width: 64px;
    height: 64px;
}

.flex-1 {
    flex: 1;
}

.m-auto {
    margin: auto;
}

.h-30 {
    height: 30%;
}

.h-70 {
    height: 70%;
}

.custom-report-container {
    margin: 0 8px;
    padding-bottom: 16px;
}

.custom-report-table {
    width: 100%;
    overflow-x: scroll;
}
